body {
  background-color: #a1eeff;
}
.header {
  background: #00eaff;
}
.header__inner {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  max-width: 2rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  margin: 0 1rem;
}

.menu__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
}
